.my-drive {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  align-content: flex-start;
}
.my-drive-empty {
  width: 300px;
  height: 300px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  background-color: #fff70010;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}
.my-drive-empty img {
  margin-bottom: 15px;
}
.my-drive-title {
  width: 100%;
  border-bottom: 1px solid #e7e7ec;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.my-drive-title-breadcrumb {
  width: 75%;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.my-drive-title-option {
  width: 25%;
  display: flex;
  justify-content: right;
}
.my-drive-title-breadcrumb > a {
  margin-right: 7px;
  opacity: 0.8;
}
.my-drive-title-breadcrumb > a:last-child {
  opacity: 1;
  pointer-events: none;
}
.my-drive-title-option button {
  border: unset;
  background-color: unset;
  width: 40px;
  height: 40px;
}
.my-drive-title-option button:hover {
  border: unset;
  background-color: lightgray;
  border-radius: 50%;
}

.my-drive-select-option {
  display: flex;
  justify-content: right;
}
.my-drive-select-option button {
  border: unset;
  background-color: unset;
  width: 40px;
  height: 40px;
}
.my-drive-select-option button:hover {
  border: unset;
  background-color: lightgray;
  border-radius: 50%;
}
.my-drive-sub-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}
.my-drive-list {
  height: 50px;
  width: 19%;
  margin-right: 1%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 9px 16px;
  border: 1px solid #e7e7ec;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
  line-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.my-drive-list:hover {
  background-color: #f0f0f0;
}
.my-drive-list > img {
  margin-right: 15px;
  height: 20px;
}
.my-drive-list > svg {
  margin-right: 15px;
  height: 16px;
}
.my-drive-list > span {
  font-size: 14px;
}

.my-drive-list-file {
  width: 19%;
  height: 250px;
  margin-right: 1%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 12px 16px;
  border: 1px solid #e7e7ec;
  opacity: 0.8;
}
.my-drive-list-file:hover {
  background-color: #f0f0f0;
}

.my-drive-list-file-view {
  height: 190px;
  width: 100%;
  margin-bottom: 10px;
}
.my-drive-list-file-view #header-bar {
  display: none;
}
.my-drive-list-file-info {
  display: flex;
  align-items: flex-start;
}
.my-drive-list-file-info > img {
  margin-right: 15px;
  height: 16px;
}
.my-drive-list-file-info > span {
  font-size: 14px;
}

.my-drive-list-2 {
  width: 32%;
}
.my-drive-list-file-2 {
  width: 32%;
}
.my-drive > table {
  width: 100%;
}
.my-drive > table > thead {
  border-bottom: 1px solid #ad00b925;
}
.my-drive > table > thead > tr > td {
  font-weight: bold;
  padding: 10px;
}
.my-drive > table > tbody > tr {
  border-bottom: 1px solid #ad00b925;
  cursor: pointer;
}
.my-drive > table > tbody > tr:hover {
  background-color: #ad00b90c;
}
.my-drive > table > tbody > tr > td {
  padding: 10px;
}
.my-drive > table > tbody > tr > td > img {
  width: 25px;
}

.my-drive > table > tbody > tr > td img {
  width: 50px !important;
  margin-right: 10px;
}
.my-drive > table > tbody > tr > td iframe {
  width: 50px !important;
  height: 30px;
  margin-right: 10px;
}
.my-drive-list-selected {
  background-color: #ad00b90c;
}
.my-drive-detail {
  width: 30%;
  border-left: 1px solid #e7e7ec;
  height: 100%;
}
.my-drive-detail-title {
  border-bottom: 1px solid #e7e7ec;
  padding: 20px 10px;
}
.my-drive-detail-title > img {
  display: inline;
  margin-right: 10px;
}
.my-drive-detail-title > h4 {
  display: inline;
  font-size: 15px;
  margin-bottom: unset;
}
.my-drive-detail-title > button {
  display: inline;
  border: unset;
  background-color: unset;
  float: right;
}
.my-drive-detail-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;
  border-bottom: 1px solid #e7e7ec;
  margin-bottom: 20px;
}
.my-drive-detail-img > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.my-drive-detail-properties-access {
  padding: 10px;
}
.my-drive-detail-properties-access > h6 {
  margin-bottom: 25px;
}
.my-drive-detail-properties-access > button {
  background-color: unset;
  border: unset;
  color: #ae00b9;
}
.my-drive-detail-properties-access > ul {
  padding-left: 5px;
  margin-bottom: 20px;
  position: relative;
}
.my-drive-detail-properties-access > ul > li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #e7e7ec;
  cursor: pointer;
}
.my-drive-detail-properties-access > ul > li > .share-user-name {
  display: none;
  position: absolute;
  top: -25px;
  font-size: 12px;
}
.my-drive-detail-properties-access > ul > li > .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #ad00b98f;
}
.my-drive-detail-properties-access > ul > li:hover > .share-user-name {
  display: block;
}
.my-drive-detail-properties-access > ul > li:last-child {
  border-right: unset;
}
.my-drive-detail-properties-info {
  padding: 10px;
}
.my-drive-detail-properties-info > h6 {
  margin-bottom: 25px;
}
.my-drive-detail-properties-info > table {
  width: 100%;
}
.my-drive-detail-properties-info > table > tr {
  border-bottom: 1px solid #e7e7ec;
}
.my-drive-detail-properties-info > table > tr > td {
  opacity: 0.7;
  font-size: 13px;
  padding: 10px 0;
}
.my-drive-detail-properties-info > table > tr:last-child {
  border-bottom: unset;
}

.color-change {
  position: relative;
}
.color-change-box {
  position: absolute;
  height: auto;
  display: none;
  background-color: white;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
  border-radius: 10px;
  left: -161px;
  top: 0;
  padding: 10px;
  padding-bottom: 0;
  padding-right: 0;
  width: 161px;
}
.color-change:hover > .color-change-box {
  display: block;
}
.color-change-box > button {
  width: 40px;
  height: 40px;
  border: unset;
  margin-right: 10px;
  margin-bottom: 10px;
}
.color-change-box > button:nth-child(3) {
  margin-right: 0px;
}
.color-change-box > button:nth-child(6) {
  margin-right: 0px;
}
.top-box {
  z-index: 2;
  opacity: 0;
  width: 300px;
  visibility: hidden;
  right: -15px;
  top: 46px;
  position: absolute;
}
.top-box.show {
  opacity: 1;
  visibility: visible;
}
.top-box-foreground {
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  cursor: auto;
  z-index: 1;
}
.top-box-foreground.show {
  display: block;
  position: fixed;
}
.drive-menu-box {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
  top: 56px;
  right: 64px;
  border-radius: 6px;
  padding: 20px 0;
  width: 350px;
}
.drive-menu-box ul {
  padding-left: 0;
}
.drive-menu-box ul li {
  padding: 0 25px;
  list-style: none;
  margin-bottom: 10px;
  opacity: 0.7;
}
.drive-menu-box ul li:hover {
  background-color: #ae00b91c;
}
.drive-menu-box ul li > a > img {
  width: 20px;
}
.drive-menu-box ul li > a > span {
  margin-left: 10px;
  font-size: 15px;
}
.share-modal-input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  position: relative;
}
.share-modal-input > input {
  height: 50px;
  background-color: #c66ecc18;
  border: unset;
  border-radius: 5px;
  border-bottom: 2px solid #ae00b9;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  padding-left: 10px;
  margin-right: 2%;
  margin-bottom: 20px;
}
.share-modal-input > input:focus-visible {
  outline: unset;
}
.share-modal-input > select {
  width: 18%;
  height: 50px;
  background-color: #c66ecc18;
  border: unset;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}
.share-modal-input > select:focus-visible {
  outline: unset;
}
.share-modal-input textarea {
  width: 100%;
  background-color: #c66ecc18;
  border: unset;
  border-radius: 5px;
  border-bottom: 2px solid #ae00b9;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  padding-left: 10px;
  padding-top: 10px;
}
.share-modal-input > textarea:focus-visible {
  outline: unset;
}
.share-modal-input-check {
  display: flex;
  width: 100%;
  height: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.share-modal-input-check > input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.share-modal-access {
  margin-bottom: 20px;
}
.share-modal-access-list {
  display: flex;
  align-items: center;
}
.share-modal-access-list > img {
  margin-right: 10px;
}
.share-modal-access-list > p {
  margin-bottom: 0;
  width: calc(100% - 130px);
}
.share-modal-access-list > span {
  margin-bottom: 0;
  width: 100px;
  text-align: right;
}
.share-modal-access-list select {
  border: unset;
}
.share-modal-access-list select:focus-visible {
  outline: unset;
}
.share-modal-no-acc {
  position: absolute;
  height: auto;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  border-radius: 5px;
}
.share-modal-no-acc > h6 {
  font-size: 20px;
}
.share-modal-no-acc > p {
  opacity: 0.7;
}
.share-modal-no-acc-btn > button {
  border: unset;
  background-color: unset;
}
.share-modal-no-acc-btn > button:first-child {
  color: red;
}
.share-modal-no-acc-btn > button:last-child {
  color: #ae00b9;
}
.move-modal-ul {
  padding-left: 0;
}
.move-modal-ul > li {
  list-style: none;
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 15px;
  cursor: pointer;
}
.move-modal-ul > li > img {
  margin-right: 10px;
}
.move-modal-input {
  width: 100%;
  height: 40px;
  display: flex;
  border: 1px solid #ce74d423;
}
.move-modal-input input {
  border: unset;
  width: calc(100% - 50px);
  padding-left: 10px;
}
.move-modal-input > button:nth-child(2) {
  border: unset;
  background-color: green;
  width: 50px;
}
.move-modal-input > button:last-child {
  border: unset;
  background-color: red;
  width: 50px;
}
.add-new-li {
  position: relative;
}
.add-box-modal {
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 97%;
  padding: 15px 0;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}
.add-box-modal ul {
  padding-left: 0;
}
.add-box-modal ul li {
  list-style: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  padding-left: 15px;
}
.add-box-modal ul li:hover {
  background-color: lightgray;
}
.add-box-modal ul li > img {
  margin-right: 20px;
  min-width: 15px;
  object-fit: contain;
}
.folder-create-input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
}
.folder-create-input > input {
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 5px;
  height: 100%;
  padding-left: 10px;
  font-size: 12px;
}
.folder-create-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.folder-create-button > button {
  background-color: unset;
  border: unset;
  padding: 5px 5px;
  font-size: 15px;
}
.folder-create-button > button:hover {
  background-color: #ce89d32a;
}
.folder-create-button > button:first-child {
  color: red;
}
.folder-create-button > button:last-child {
  color: blue;
}
.upload-box-modal {
  width: 360px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 20px;
  padding: 0 0 0 0;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}

.upload-box-modal ul {
  padding-left: 0;
}
.upload-box-modal ul li {
  list-style: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.notication-popup {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 300px;
  height: 50px;
  background-color: #ae00b9;
  display: flex;
  z-index: 999;
  padding: 10px;
  align-items: center;
}
.notication-popup > p {
  color: white;
  width: calc(100% - 20px);
  margin-bottom: 0;
}
.notication-popup > button {
  border: unset;
  background-color: unset;
}

.preview-modal-dialog {
  max-width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
}
.preview-modal-dialog .modal-header {
  border-bottom: unset;
}
.preview-modal-dialog .modal-content {
  height: 100%;
  background-color: #1f1f1f8a;
}
.preview-modal-body {
  width: 50%;
  height: calc(100vh - 100px);
  margin: 0 auto;
}
.preview-modal-body img {
  width: 100%;
  height: 100%;
}
.preview-modal-body iframe {
  width: 100%;
  height: calc(100vh - 100px);
}
.preview-modal-header {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.preview-modal-header-title {
  width: 50%;
}
.preview-modal-header-title > button {
  border: unset;
  background-color: unset;
}
.preview-modal-header-title > button:first-child:hover {
  background-color: #ad00b93b;
}
.preview-modal-header-title img {
  cursor: pointer;
  padding: 6px;
}

.preview-modal-header-title span {
  color: white;
  cursor: pointer;
}
.preview-modal-header-option {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.preview-modal-header-option > button {
  border: unset;
  background-color: unset;
  margin-left: 15px;
}
.preview-modal-arrow {
  position: absolute;
  top: 50%;
  width: 100%;
}
.preview-modal-arrow > button {
  border: unset;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}
.preview-modal-arrow > button:hover {
  background-color: #ae00b9;
}
.preview-modal-arrow-right {
  float: right;
  margin-right: 30px;
}
.lds-ring {
  display: inline-block;
  position: relative;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
  top: -10px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
