.my-drive {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
.my-drive-title {
  width: 100%;
  border-bottom: 1px solid #e7e7ec;
  padding: 10px;
  display: flex;
  align-items: center;
}
.my-drive-title > h4 {
  font-size: 20px;
  margin-bottom: 0;
}
.my-drive-title-option {
  width: 94%;
  display: flex;
  justify-content: right;
}
.my-drive-title-option button {
  border: unset;
  background-color: unset;
  width: 40px;
  height: 40px;
}
.my-drive-title-option button:hover {
  border: unset;
  background-color: lightgray;
  border-radius: 50%;
}
.my-drive-sub-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}
.my-drive-list {
  width: 19%;
  margin-right: 1%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 12px 16px;
  border: 1px solid #e7e7ec;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
}
.my-drive-list:hover {
  background-color: #f0f0f0;
}
.my-drive-list > img {
  margin-right: 15px;
  height: 16px;
}
.my-drive-list > span {
  font-size: 14px;
}

.my-drive-list-file {
  width: 19%;
  height: 240px;
  margin-right: 1%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 12px 16px;
  border: 1px solid #e7e7ec;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
}
.my-drive-list-file:hover {
  background-color: #f0f0f0;
}
.my-drive-list-file > img {
  margin-right: 15px;
  height: 16px;
}
.my-drive-list-file > span {
  font-size: 14px;
}

.add-new-li {
  position: relative;
}
.add-box-modal {
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 97%;
  padding: 15px 0;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}
.add-box-modal ul {
  padding-left: 0;
}
.add-box-modal ul li {
  list-style: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  padding-left: 15px;
}
.add-box-modal ul li:hover {
  background-color: lightgray;
}
.add-box-modal ul li > img {
  margin-right: 20px;
  min-width: 15px;
  object-fit: contain;
}
.folder-create-input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
}
.folder-create-input > input {
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 5px;
  height: 100%;
  padding-left: 10px;
  font-size: 12px;
}
.folder-create-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.folder-create-button > button {
  background-color: unset;
  border: unset;
  padding: 5px 5px;
  font-size: 15px;
}
.folder-create-button > button:hover {
  background-color: #ce89d32a;
}
.folder-create-button > button:first-child {
  color: red;
}
.folder-create-button > button:last-child {
  color: blue;
}
.upload-box-modal {
  width: 360px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 20px;
  padding: 0 0 0 0;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}

.upload-box-modal ul {
  padding-left: 0;
}
.upload-box-modal ul li {
  list-style: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.lds-ring {
  display: inline-block;
  position: relative;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
  top: -10px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
